<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <typeAliases>
	<typeAlias type="com.study.portfolio.PortfolioVO" alias="PortfolioVO" />
	<typeAlias type="com.study.contents.ContentsDTO" alias="ContentsDTO" />
  </typeAliases>
</configuration>